---
layout: default
title: Tae.Kim
---
<div class="blurb">

<h2>Latest Post</h2>
{% for post in site.posts limit:1 %}
<li>
<h3>
<a href="{{ site_url }}{{ post.url }}">{{ post.title }}<small><em> {{ post.date | date_to_string }}</em></small></a>
</h3>
</li>
{% endfor %}
<br>
<div class="separator"></div>
<h2>Recent Posts</h2>
{% for post in site.posts offset:1 limit:4 %}
<li>
<h3>
<a href="{{ site_url }}{{ post.url }}">{{ post.title }}<small><em> {{ post.date | date_to_string }}</em></small></a>
</h3>
</li>
{% endfor %}
	<p></p>
</div><!-- /.blurb -->

