<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Montez|Lato:400,400italic,700,900,900italic,300|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml" />
  </head>

  <body>
  <div class="site-header">

    <img src="/assets/title_img.png" width="15%" id="title_img">
    <h3> Personal Blog of</h3>
    <h1>Taewoo</h1>
    
  
  
  </div>
  
    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
    </nav>
    <div class="separator"></div>


    <div class="container">
        {{ content }}
    </div>
    <footer>
    <ul>
      <li><a href="mailto:touktw@gmail.com">email</a></li>
      <li><a href="https://github.com/touktw">github.com/touktw</a></li>
    </ul>
    </footer>
  </body>

</html>
